/*
    CSS Checklist
    [X] - Color (rgb, hex, hsl, name)
            - rgb()
            - name
            - hsl
            - hex
    [X] - Background
    [ ] - Unit (3 relative, 3 absolute)
            - vw (relative)
            - % (relative)
            - px (absolute)
    [ ] - Box Model (margin, padding, borders)
    [ ] - Text (color, text-decoration, text-align)
            - color
            - text-decoration
    [X] - Display(include 2: none, block, inline-bloc, inline)
            - Inline-block
    [X] - Sizing (set height/width, set min & max height/width)
    [X] - Position (include 2: static, relative, fixed, aboslute, sticky)
            - sticky
            - relative
    [X] - Pseduo-classes (:hover, :active)
            - :hover
            - :active
    [X] - Flexbox (requires >= 2 children & >= 3 flexbox attributes)
    [ ] - Grid (requires >= 2 children & >= 3 grid attributes)
    [ ] - Media Query (at least 1 element needs a media query)
    [X] - Fonts (use a 3rd party font)
    
    CSS Selectors
    [X] - class selector (.class)
    [ ] - ID selector (#id)
    [X] - Universal selector (*)
    [X] - Element selector (element)
    [ ] - Attribute selector ([attribute=foo])
    [X] - Pseduo-class selector (p::hover)
    [X] - Selector selector (element, element)
    [X] - Descendant Combinator (element element)
    [X] - Child Combinator (element > element)
    [ ] - General sibling Combinator (element ~ element)
    [ ] - Adjacent sibling Combinator (element + element)
    [ ] - Combining Two Selectors (element.class)
    
*/

* {
    margin: 0;
}

html, body {
    font-family: 'Montserrat', sans-serif;
}

header {
    position: sticky;
    top: 0;
    width: 100vw;
    min-height: 5%;
    height: 10%;
    max-height: 15%; 
    background-color: rgb(60, 60, 73);
}

header > nav {
    font-size: 20px;
    color: white;
    padding: 10px;
}

header > nav > a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

header > nav > a:hover{
    transform: scale(1.1);
}

header > nav > a:active{
    color: hsl(41, 100%, 70%);
}

.entry-wrapper {
    position: relative;
    width: 50%;
    background-color: hsl(41, 100%, 70%);
    box-shadow: 10px 5px 35px #3617a7;
}

.entry-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgb(60, 60, 73);
    color: white;
    padding: 0 0;
}

#opticIllu {
    display: inline;
    width: 30%;
    height: 30%;
    margin: auto;
}

#entry3 .entry-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cardTrick {
    height: 90%;
    width: 90%;
    margin: auto;
}